= form_for @expenditure do |f|
  -if @expenditure.errors.any?
    #error_explanation
      %h2= "#{pluralize(@expenditure.errors.count, "error")} prohibited this expenditure from being saved:"
      %ul
        - @expenditure.errors.full_messages.each do |msg|
          %li= msg

  %table
    %tr
      %td
        = f.label :amount
      %td
        = f.text_field :amount
    %tr
      %td
        = f.label :category_id
      %td
        = f.select :category_id, @categories_array
    %tr
      %td
        = f.label :description
      %td
        = f.text_field :description
    %tr
      %td
        = f.label :limit
      %td
        = f.select :ofteness, @ofteness
    %tr
      %td
        = f.label :date
      %td
        = f.date_select :date
    %tr
      %td
      %td
        = f.submit 'Save', class: 'btn btn-primary'
