%p
  %table
    %tr
      %td.summary
        = 'Spent this month: '
      %td.spendings
        = current_user.spent_this_month.to_s + ' kn'
    %tr
      %td.summary
        = 'Spent this week: '
      %td.spendings
        %span{:class => "#{h weekly_spending_status}"}
          = current_user.spent_this_week.to_s + ' kn'

- if opera_mini?
  = render 'mobile_form'
- else
  = render 'form'
